In [15]:
import numpy as np
import pandas as pd
import scipy.spatial as sp
import scipy.optimize as op
from scipy.linalg import lstsq
import matplotlib.pyplot as plt

In [16]:
file = pd.read_csv('advertising.csv')

In [17]:
file.head()

      TV  Radio  Newspaper  Sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [18]:
file.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [19]:
file.tail()

        TV  Radio  Newspaper  Sales
196   38.2    3.7       13.8    7.6
197   94.2    4.9        8.1    9.7
198  177.0    9.3        6.4   12.8
199  283.6   42.0       66.2   25.5
200  232.1    8.6        8.7   13.4

In [20]:
X = file[['TV', 'Radio', 'Newspaper']].to_numpy() # crate matrix of coefficients
Y = file[['Sales']].to_numpy() # create vector of answers

In [21]:
stds, means = np.std(X, axis=0), np.mean(X, axis=0) #normalization of matrix of coefficients
X = (X - means) /stds

In [22]:
ones = np.ones(len(X)).reshape(len(X), 1)
X = np.hstack((X, ones)) # add a ones column to matrix of coefficients

In [23]:
def Q(X, w, Y):
    return 1/len(X) * ((np.linalg.norm(X.dot(w) - Y))**2)

def linear_prediction(X, w):
    return X.dot(w)

def sqrt_err(Y, pred):
    return np.mean((Y - pred)**2)

round(sqrt_err(Y, np.median(Y)), 3)

28.346

In [24]:
w = np.array([[0, 0, 0, 0]]).T

L = len(X)

def gradient_step(X, w, t = 0.001):
    gradient = 2/(L)*X.T.dot((X.dot(w) - Y)) 

    return w - t*gradient

In [25]:
def gradient_descent(X, w, t = 0.0001, epsilon = 1e-8, max_iter = 10**5):
    difference = np.inf
    iter_num = 0
    while difference > epsilon and iter_num < max_iter:
        new_w = gradient_step(X, w, t = 0.001)
        difference = sp.distance.euclidean(w, new_w)
        w = new_w
        iter_num +=1
    return w, iter_num

In [26]:
%%time
new, iterations = gradient_descent(X, w, epsilon = 0, max_iter = 1000**10)

Wall time: 559 ms

In [27]:
print (new)

[[ 3.91925365]
 [ 2.79206274]
 [-0.02253861]
 [14.0225    ]]

In [30]:
%%time
a = lstsq(X, Y) #Compute least-squares solution to equation Ax = b
print(a[0])

[[ 3.91925365]
 [ 2.79206274]
 [-0.02253861]
 [14.0225    ]]
Wall time: 81.5 ms